/* *{
    margin:0;
    padding:0;
   

}
.container{
    box-sizing: border-box;
    width: 90%;
    height:150vh;
    min-width: fit-content;
    margin:auto;
    display:flex;
    padding: 10 15 10 10;
    background-color: gray;
    color:white;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 20px; */
    



/* .input-section{
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: floralwhite;
    border-radius: 10px;
    flex-direction: column; */
    /* flex-basis:content; */
    /* justify-content: center;
    align-items: center;
    font-size: 30px;


} */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./img/gaming-series-video-game.jpg);
    background-repeat: no-repeat;
    background-size: cover;

   
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      
}

.input-section {
    display: flex;
    flex-direction: column;
}

.input-section label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-section input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.submitbtn {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #218838;
}
